body {
        background-color: Cornsilk;
}

#header-links {
    background-color: BurlyWood;
        padding: 10px;
}

h1 {
        color: CornflowerBlue;
}

.bars rect {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
